<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css">
    <title>XSS (Cross Site Scripting)</title>
</head>

<body>
    <main role="main" class="pb-3">
        <div class="container">
            <h1 class="page-title">Cross Site Scripting</h1>
            @RenderBody()
        </div>
    </main>
</body>

</html>
